<div id=ChromeScreenshotExtension><a href="/extensions/screenshot.crx">Install Skermvas Chrome extension for easier capture and to capture private webpages</a>
<script>
  $("a").click(function () {
  $("a").fadeOut("slow");
  });
  var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
  if ( !is_chrome ) {
      $('#ChromeScreenshotExtension').hide();
  }
</script>
</div>
<div id=MastHead class="pngfix">
  <div id="MastHeadInner" class="pngfix">
    <div id="Intro">
      <h1>Simple, Trusted Web Page Capture</h1>
      <% if flash[:notice] %>
          <p class="notice"><%= flash[:notice] %></p>
      <% end %>

      <%= form_tag(new_capture_path, :method=> "get", :action => "new") do %>
          <%= text_field_tag "url", nil, :size => 57, :autocomplete => "off", :maxlength => 2048, :class=>"populate term", :title => "enter your URL here. e.g. www.nytimes.com" %>
          <br/>
          <%= submit_tag("Capture URL", :class => "submit") %>
      <% end %>
    </div>
  </div>
</div>