// Place all the styles related to the captures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//TODO Fix this nasty global namespace hack
body.captures {
}
#wrap {
  width:1024px;
  margin:0 auto;
}
#main {
  float:right;
  width:700px;
  //background:#99c;
}
#hints {
  float:left;
  margin-left:20px;
  width:300px;
}

#croppedpng {
    margin:10 auto;
    border:black;
    border-width:2px;
//    z-index=-1;
}

.yui-skin-sam .yui-crop .yui-crop-mask {
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50);
}

.yui-skin-sam .yui-crop .yui-resize {
    border: 1px dashed #fff;
}
