.clear { width: 100%; clear: both; height: 0; line-height: 0; font-size: 0; padding: 0; margin: 0; }

/*  Masthead/top bar  */

#MastHead {
	width: 100%;
	overflow: hidden;
	height: 185px;
	margin-top: 80px;
}

#MastHeadInner {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
/*	background: url(../images/logo4.png) top left no-repeat; */
}


#Intro {
	float: right;
	width: 570px;
	padding-top: 12px;
}

.submit {
	display: block;
	background: url(../images/submit.png) no-repeat 0 -64px;
	border: none;
	cursor: pointer;
	height: 32px;
	width: 145px;
	overflow: hidden;
	padding: 0;
	margin-top: 10px;
	text-indent: -9999px;
}

.submit:hover {
	background-position: 0 -32px;
}

.submit:focus {
	background-position: 0 0px;
	outline: none;
}
	
	
input#url {
	width: 770px;
	height: 38px;
	background-color: #f5f6d4;
	background: url(../images/input.png) top left no-repeat;
	border:solid 0 #f5f6d4;
	font-size: 16px;
	color:#666;
	padding: 8px 0 0 4px;
	}

label {
	position: absolute;
	left: -9999px;
}

.error {
	float: right;
	color: #DB3023;
	padding-top: 5px;
}

/*  Main content container borders  */

#TopBorder, #BottomBorder {
	width: 1014px;
	margin: 0 auto;
	height: 18px;
	position: relative;
}

#TopBorder {
	margin-top: 48px;
}


/*  Main content container  */

#Container {
	width: 1014px;
	margin: 0 auto;
}

/* INFORMATION */

#Information {
	padding-left: 17px;
	width: 300px;
	float: left;
	margin-right: 10px;
}

#Information p {
	font-size: 12px;
	line-height: 24px;
}



/* SITE MAP MENUS */

ul.menu {
	float: left;
	width: 140px;
	margin: 0 10px 0 10px;
	display: block;
	font-size: 13px;
	line-height: 24px;
	color: #898989;
}

ul.menu li {}

li.heading {
	color: #493f0b;
	font-weight: bold;
	border-bottom: 1px solid #d7d7d7;
}

/*  Footer - social media icons  */

#Social {
	width: 800px;
	margin: 12px auto 16px auto;
}

#Social img {margin-right: 6px;}
