/*LINKS*/


a:visited { color: #4b4b4a; font-weight: normal; text-decoration: none;}

a:link { color: #4b4b4a; font-weight: normal; text-decoration: none;}

a:hover { color: #4b4b4a; font-weight: bold; text-decoration: underline;}

.tweet p a:visited, .tweet p a:link, .tweet p a:hover { font-weight: normal; text-decoration: none; }

ul.menu a:link, ul.menu a:visited {
	font-weight: normal;
	color: #898989;
	display: block;
	width: 140px;
}

ul.menu a:hover {
	text-decoration: none;
	font-weight: normal;
	color: #333;
}

ul.menu li.heading a:link, ul.menu li.heading a:visited {
	color: #493f0b;
	font-weight: bold;
	text-decoration: none;
}

ul.menu li.heading a:hover {text-decoration: underline;}

a.homepage:link, a.homepage:visited {
	background: transparent url(../images/home.png) top left no-repeat;
	padding-left: 22px;
	padding-top: 3px;
	color: #493f0b;
	font-weight: bold;
}



/* GENERAL */
@font-face {
    font-family: 'Matiz';
    src: url('../fonts/Matiz-webfont.eot');
    src: url('../fonts/Matiz-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Matiz-webfont.woff') format('woff'),
         url('../fonts/Matiz-webfont.ttf') format('truetype'),
         url('../fonts/Matiz-webfont.svg#MatizRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { font-family: "Matiz", Helvetica, Arial, Calibri, Frutiger, sans-serif; color: #4b4b4a; font-size: 13px; line-height: 1.6em /* 20px */; }

p, ul, blockquote, pre, td, th, label { margin: 0; font-size: 1em; line-height: 1.6em; margin-bottom: 1.6em; }


em { }

strong { font-weight: bold; }

/*HEADINGS*/

h1, h2, h3, h4, h5 {  }
/* PROPER H1 
h1 { font-size:2.92em; line-height: normal; /* Equals base line-height (1.6) divided by this font size (2.92)  margin-bottom: 0.55em; color: #603913; }*/

h1 {margin-bottom: 10px; padding: 0;}

h1 em {display: inline;}

h2 { font-weight: bold; font-size: 1em; line-height: 1.6em; /* Equals base line-height (1.6) divided by this font size (1) */ margin-bottom: 1.6em; color: #2a3436; margin: 0;} /* POSSIBLY CHANGE TO MAKE MARGIN SMALLER */
